# Config file for automatic testing at travis-ci.com

language: python
python:
  - 3.8
  - 3.7
  - 3.6

before_install:
  - sudo apt-get -y update
  - sudo apt-get -y install openslide-tools
  - sudo apt-get -y install libopenjpeg-dev

# Command to install dependencies, e.g. pip install -r requirements.txt --use-mirrors
install: pip install -U tox-travis

# Command to run tests, e.g. python setup.py test
script: tox

# Upload test coverage reports (codecov and deepsource)
after_success:
  # Upload coverage to codecov
  - bash <(curl -s https://codecov.io/bash)
  # Install deepsource CLI
  - curl https://deepsource.io/cli | sh
  - export DEEPSOURCE_DSN=https://sampledsn@deepsource.io
  # Report coverage artifact to 'test-coverage' analyzer
  - ./bin/deepsource report --analyzer test-coverage --key python --value-file ./coverage.xml

# Assuming you have installed the travis-ci CLI tool, after you
# create the Github repo and add it to Travis, run the
# following command to finish PyPI deployment setup:
# $ travis encrypt --add deploy.password
deploy:
  - provider: pypi
    server: https://test.pypi.org/legacy/
    distributions: sdist bdist_wheel
    user: __token__
    password:
      secure: a5EoBz4NAQWB0EmgQCKpDRtISy76uNt2dWYZURzTW5v7V2GHyP+drNDWW5HNN0qoLK8pYXBGS47DqJtNDD0+k4G1ogINQKTENWI/oAxXrI8mwAAEhp+2uhHBGSWUX0jlnfRD3VX3M4zSy0DEszGONrJMiJyfRAKNa+P1FPp7AFjRKh8keivCLXgL3Y27OfyBKf4wgy/EnlK2P/BkO9fhPLfDNdBAXikrOCTmG7b0MIRpSXdOqtgo0QtR8t2tQnekke14iH4oTlhEMq2+X875Fejg3n686mXvmTrenLNyZiO0PW4MXAsc5PEES3F2yyLVyk9tHhp54eBErhg60jr2q5GqkX+QBA9wooXcWoLdB+fKJbv4I4XtiMQ68B/1RLvQwWTUjMp520eFBc1dD3HiCEj0KuoplaxFWAgJoAAawC6/TrSpACgb1Cw1M5XcOb3dzUN4hduuvYp8emcixmc0mufrK1QU62u9320rMMF7HZJuLCg4GVHryWqBlc6u6kQrmnF+xU36ms0Deamjzb96TfA2W+DEG2N2dtxmbYEIaLyKZnpLhCV5FZDai4AK5nW9Hst6w/dDU7kYiHwM962ArEKApFuoF4mbNJe3EALR2xlNINZRaEqY+XPXtjODY7g/3bajsDfxEjKB9RTBxq9mL49ioxlXGRTvS7VhU+n6BE0=
    on:
      branch: pre-release
      repo: TIA-Lab/tiatoolbox
      python: 3.8
  - provider: pypi
    distributions: sdist bdist_wheel
    user: __token__
    password:
      secure: RibR6mwteL0ZT21Yd0yaWEbG2ArBZlCIA1W7QMlr0BXDbI03+99t90wVsOI6PZIQKaR/yUvU0unEz5dsBzvIAXcDbJADb2NHqn+OPZlIw+kjSU3wPUYxQZzUEemwaSuNMnVLjC1weOdazGyV4zt9kUiT/pIiZFSTFj7K5C6Tjta283UrAv4LBzOPZNJvdi5oqfuSWNmgWzTm2mTOBwnFxJTvMTBDMl8GRMhjb3zAD/4eQKpiSMItJoqpte924jcWWDfgTMGWzhP5KKm7WurkbT/j0R8Px6V/Zhfx82JUy7qMeJRu/5AdQaCd4tjkAPRhKx+z84Dm8EFhRkv1dVeQMSUMu91ejRIRLu4UmN8zplRGcpDjUZwv/j+62EswhN66cb80SczhuBYy0tmI6BOl4+h3oMivojHC6zcbgkaswwS5IGRCf7lY/grFvrEhJVX+c7aRi6/ZvsrO72XwO0OaoOxdwPW7sJZPkn+92DH/bMRe9sUb0PrxWvfHqYdtRGmf3i/NHcZli7Simrn5s6eS3AM8BGL2ZwUs9dmiP0pAj9FhfZNp5nyxQeoTcNgnZBamQk6liZMAW1DYGzLg/U11bsprt8pM5lzJR3G/zwCIgfBn37kg3JL9wkO5M/8eEJ8ADCkx/MeyUMzv2gm8R+jb5fFd8eTQhlpLuXZlxUZiKyA=
    on:
      branch: master
      tags: true
      repo: TIA-Lab/tiatoolbox
      python: 3.8
