include AUTHORS.md
include CONTRIBUTING.rst
include HISTORY.md
include LICENSE
include README.md
include requirements.txt
include make.bat
include Makefile
include conf.py

recursive-include tests *
recursive-include docs
recursive-include tiatoolbox/data *

recursive-exclude * __pycache__
recursive-exclude * *.py[co]
