include AUTHORS.md
include CONTRIBUTING.rst
include HISTORY.md
include LICENSE
include README.md
include make.bat
include Makefile
include conf.py
include tiatoolbox/visualization/bokeh_app/templates/index.html
include tiatoolbox/visualization/openlayers/templates/index.html

recursive-include tests *
recursive-include docs
recursive-include tiatoolbox/data *

recursive-exclude * __pycache__
recursive-exclude * *.py[co]

include tiatoolbox/visualization/openlayers/README.md
include tiatoolbox/visualization/openlayers/package.json
include tiatoolbox/visualization/openlayers/package-lock.json
include tiatoolbox/visualization/openlayers/vite.config.js
recursive-include tiatoolbox/visualization/openlayers/src *.js *.css
