pip>=20.0.2
bump2version==0.5.11
wheel==0.33.6
watchdog==0.9.0
flake8==3.7.8
tox==3.14.0
coverage==5.1
Sphinx==1.8.5
twine==1.14.0
Click>=7.0
pytest==5.4.2
pytest-runner==5.2
opencv-python>=4.0
openslide-python==1.1.2
pytest-cov==2.9.0
numpy
pillow
matplotlib
pyyaml>=5.1
pandas
glymur
scikit-image
scikit-learn==0.23.2
recommonmark
pre-commit
black
flake8-bugbear
torchvision==0.9.1
torch==1.8.1
tqdm==4.60.0
jupyterlab
defusedxml