Click>=7.0
defusedxml
glymur
imagecodecs
jupyterlab
matplotlib
numpy
opencv-python>=4.0
openslide-python==1.1.2
pandas
pillow
pyyaml>=5.1
requests
scikit-image
scikit-learn>=0.23.2
sphinx==4.1.2
tifffile
torchvision==0.10.1
torch==1.9.1
tqdm==4.60.0
zarr