albumentations
black>=21.4b0
bump2version==0.5.11
Click>=7.0
coverage==5.1
flake8-bugbear
flake8==3.7.8
flask
glymur>=0.9.7
imagecodecs>2021.10.0
jupyterlab
matplotlib
numpy
opencv-python>=4.5.4
openslide-python>=1.1.2
pandas
pillow
pip>=20.0.2
pre-commit
pydicom # Used by wsidicom
pytest-cov==2.9.0
pytest-runner>=5.2
pytest>=6.2.5
pyyaml>=5.1
recommonmark
requests
scikit-image==0.18.3
scikit-learn>=0.23.2
shapely
sphinx>=4.1.2
sphinx-gallery
sphinx-toolbox
tifffile>2021.10.0
torch>=1.9.0
torchvision>=0.10.1
tox
tqdm
twine==1.14.0
umap-learn
watchdog==0.9.0
wheel==0.33.6
wsidicom
zarr
