Click>=7.0
numpy
pillow
matplotlib
opencv-python>=4.0
openslide-python==1.1.2
pyyaml>=5.1
pandas
glymur
scikit-learn>=0.23.2
scikit-image
torchvision==0.9.1
torch==1.8.1
tqdm==4.60.0
jupyterlab
defusedxml
requests
