albumentations
black
bump2version==0.5.11
Click>=7.0
coverage==5.1
flake8==3.7.8
flake8-bugbear
glymur
imagecodecs
jupyterlab
matplotlib
numpy
opencv-python>=4.0
openslide-python==1.1.2
pandas
pip>=20.0.2
pillow
pre-commit
pytest==6.2.5
pytest-runner==5.2
pytest-cov==2.9.0
pyyaml>=5.1
recommonmark
requests
scikit-image
scikit-learn>=0.23.2
sphinx==4.1.2
tifffile
tox==3.14.0
torch==1.9.1
torchvision==0.10.1
tqdm==4.60.0
twine==1.14.0
wheel==0.33.6
watchdog==0.9.0
zarr
