{% extends base %}

<!-- goes in head -->
{% block preamble %}
<link href="bokeh_app/static/{{ demo_name }}/custom.min.css" rel="stylesheet">
{% endblock %}

{% block postamble %}
  <style>
    .slide {
        width: 80%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        margin: 10px 0;
    }
    .ui {
        width: 20%;
        height: 100%;
        position: absolute;
        top: 0;
        right: 0;
    }
    .description {
        width: 78%;
        height: 100%;
        position: absolute;
        top: 100%;
        left: 2%;
        margin: 10px 0;
    }
  </style>
{% endblock %}

<!-- goes in body -->
{% block contents %}
<div class="slide"> {{ embed(roots.slide_windows) }} </div><div class="ui"> {{ embed(roots.ui_layout) }} </div>
<div class="description">
<iframe src="bokeh_app/static/{{ demo_name }}/description.html" style="border:none;" width="100%" height="100%"></iframe>
</div>
{% endblock %}
