-r requirements.txt
-r ../docs/requirements.txt
black>=23.3.0
coverage>=7.0.0
docutils>=0.18.1
isort==5.12.0
jinja2>=3.0.3, <3.1.0
pip>=22.3
poetry-bumpversion>=0.3.1
pre-commit>=2.20.0
pytest>=7.2.0
pytest-cov>=4.0.0
pytest-runner>=6.0
ruff==0.0.280  # This will be updated by pre-commit bot to latest version
toml>=0.10.2
twine>=4.0.1
wheel>=0.37.1
