-r requirements.txt
-r ../docs/requirements.txt
coverage>=7.0.0
docutils>=0.18.1
mypy>=1.6.1
pip>=22.3
poetry-bumpversion>=0.3.1
pre-commit>=2.20.0
pytest>=7.2.0
pytest-cov>=4.0.0
pytest-runner>=6.0
pytest-xdist[psutil]
ruff==0.8.1  # This will be updated by pre-commit bot to latest version
toml>=0.10.2
twine>=4.0.1
wheel>=0.37.1
