# This workflow will build a conda environment to check that it resolves in a reasonable time

name: Solve Conda Environment

on:
  push:
    paths: [ "requirements/requirements*.yml", "conda-env-create.yml", "requirement*.txt"]
  pull_request:
    paths: [ "requirements/requirements*.yml", "conda-env-create.yml", "requirement*.txt"]
  schedule: # Run on the 1st of every month at midnight
    - cron: "0 0 1 * *"

jobs:
  conda_solve:
    strategy:
      fail-fast: true
      matrix:
        os: [ubuntu-latest, windows-latest]
        kind: ["dev", "prod"]
        include:
          - os: ubuntu-latest
            kind: prod
            requirements: requirements/requirements.conda.yml
          - os: ubuntu-latest
            kind: dev
            requirements: requirements/requirements.dev.conda.yml
          - os: windows-latest
            kind: prod
            requirements: requirements/requirements.win64.conda.yml
          - os: windows-latest
            kind: dev
            requirements: requirements/requirements.win64.dev.conda.yml
    runs-on: ${{ matrix.os }}
    timeout-minutes: 20
    steps:
      - uses: actions/checkout@v2
      - name: Copy requirements files
        shell: bash
        run: |
          cp ./requirements/requirements*.txt /tmp/
          mkdir /tmp/docs/
          cp ./docs/requirements*.txt /tmp/docs/
      - uses: mamba-org/setup-micromamba@v1
        with:
          environment-name: tiatoolbox
          environment-file: ${{ matrix.requirements }}
      - shell: bash -l {0}
        run: |
          micromamba info
          micromamba list
